.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-grid {
  background-color: white;
  color: white;
}

.App-colorPalette {
  background-color: green;
  color: white;
}

.palette-cell {
  border: 1px solid black;
  height: 25px;
  width: 25px;
  flex:1;
}

table {
  margin: auto;
}

td {
 border: 1px solid black;
 height: 25px;
 width: 25px;
 flex:1;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.rowC {
  display:flex; 
  flex-direction:row;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
