html, body{
  height: 100%;
}
#root{
  height: 100%;
}

.App {
  background-image: url('assets/tile.jpg'); 
  background-attachment: fixed;
  background-position: 100%;
  background-size: cover; 
  background-color: #9BB4BE;
  font-family: 'Amatic SC', cursive;
  font-size: 16px;
  text-align: center;
  height: 100%;
}
h2{
  font-size: 4em;
}

.btn, .btn-default:hover, .btn-default:active, .btn-default:focus{
  color: white;
  font-size: 1.25em;
}

#magicButton{
  font-size: 1.5em; 
  color: white; 
  margin: 1em;
  background-color: #9BB4BE;
}

.paletteButtons{
  background-color: transparent;
  margin: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.App-header {
  padding: 2px;
  color: white;
  display: flex;
  justify-content: center;
}
.Hannah{
  color: transparent;
  margin-top: 25px;
  margin-left: 2em;
  margin-right: -3.75em;
}

.App-grid {
  background-color: white;
  color: white;
}

.palette-cell {
  border: 1px solid black;
  height: 25px;
  width: 25px;
  flex:1;
}

table {
  margin: auto;
}

td {
 border: 1px solid grey;
 height: 10px;
 width: 10px;
 flex:1;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}

.rowC {
  background-color: transparent;
  display:flex; 
  justify-content: center;
  flex-direction:row;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

